@media screen and (max-width:960px) {
  /* Drop down menu */
  #nav {
    clear: both;
    position: absolute;
    top: 38px;
    width: 160px;
    z-index: 10000;
    padding: 5px;
    background-color: #415464;
    border: 1px solid #415464;
    background-color: rgba(65, 84, 100, .9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: none; /* visibility will be toggled with jquery */
    right: 0;
  }
  #nav ul {
    width: auto;
    position: static;
    display: block;
    border: none;
    background: inherit;
  }
  #nav li {
    clear: both;
    float: none;
    margin: 5px 0 5px 10px;
  }
  #nav a, #nav ul a {
    font: inherit;
    background: none;
    display: inline;
    padding: 0;
    color: white;
    border: none;
  }
  #nav a:hover, #nav ul a:hover {
    background: #e57e3e;
    color: #000;
  }
  #nav a:active {
    border-bottom: 1px solid #e57e3e;
  }
  #nav-wrap {
    position: relative;
  }
  #menu-icon {
    color: #415464;
    width: 42px;
    height: 29px;
    text-align: center;
    background: white;
    border: 1px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 10px 0 8px;
    cursor: pointer;
    border: solid 1px #666;
    display: block; /* show menu icon (disabled previously) */
    float: right;
  }
  #menu-icon:hover {
    background-color: #f8f8f8;
  }
  #menu-icon.active {
    background-color: #bbb;
  }
  .logo {
    margin-top: -60px;
  }
  .sec-head {
    margin: 15px 8px 0 10px;
  }
  #nav .mobile a {
    display: none;
  }
}

/* Breaking point for when top nav breaks to 2 lines */
@media screen and (max-width:835px) {
  #nav .mobile a {
    display: inline;
  }
  #nav-wrap1 {
    display: none;
  }
  .logo {
    margin: 10px;
  }
  .content-title {
    float: left;
  }
  .hero-content {
    padding: 20px;
  }
}

/* Original mobile code, this is now in max-width 835px */
@media screen and (max-width:480px) {
/*  #nav .mobile a {
    display: inline;
  }
  #nav-wrap1 {
    display: none;
  }*/

 /*   .logo {
    margin: 5px;
  }*/

 /* .content-title {
    float: left;
  }*/
}